<launch>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_description)/robots/pr2.urdf.xacro'" />

  <node pkg="sbpl_arm_planner_test" type="callPlanner" name="call_planner" output="screen" respawn="false" >

    <rosparam command="load" file="$(find sbpl_arm_planner)/config/pr2_right_arm.yaml" />
    
    <rosparam command="load" file="$(find sbpl_collision_checking)/config/pr2_right_arm_model.yaml" />

    <rosparam command="load" file="$(find sbpl_arm_planner_test)/experiments/pr2_goal.yaml" />
    
    <param name="object_filename" value="$(find sbpl_arm_planner_test)/env/tabletop.env" />

    <param name="action_set_filename" value="$(find sbpl_arm_planner)/config/pr2.mprim" />

  </node>

</launch>

